@media screen and (max-width: 1000px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #003136;
    padding-bottom: 25px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 2000;
  }
}
