.container {
  width: 100%;
}
.label {
  /* width: 100%; */
}
.label span {
  font-size: 12px;
  padding: 5px 0px;
  text-align: left;
}
.inputContainer {
  align-items: center;
  cursor: text;
  padding: 0px 4px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  font-size: inherit;
  justify-content: space-between;
  /* overflow: hidden; */
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  word-wrap: break-word;
  vertical-align: top;
  pointer-events: auto;
  position: relative;
  margin: 5px 0px;
}
.styledInput {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: inherit;
  font-size: 14px;
  min-width: 0;
  outline: none;
  width: 100%;
  line-height: 1.4285714285714286;
}
.styledInput::placeholder {
  font-size: 10px;
  color: rgba(188, 176, 173, 1);
}
.errorMessage {
  color: rgb(178, 44, 80);
  align-self: center;
}

/* text area style  */

.textArea {
  padding: 12px;
  border: 0.8px solid rgba(0, 101, 87, 0.5);
  box-shadow: 0px 4px 6px 3px rgba(45, 83, 219, 0.1);
  border-radius: 5px;
  margin: 5px 0px;
}
.textArea:focus {
  border: 1px solid rgba(0, 101, 87, 0.7);
  outline: none !important;
}
.textArea::placeholder {
  color: #bdbdbd;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
