.projectCards {
  display: grid;
  box-sizing: border-box;
  margin-bottom: 16px;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* row-gap: 12px; */
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.container {
  padding-top: 14vh;
}
@media screen and (max-width: 1000px) {
  .projectCards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}