.parent__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 384px; */
  width: 70%;
  position: relative;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.heading3 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  display: flex;
  align-items: center;
  color: #00262a;
  padding-bottom: 25.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input__label {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-self: start;
  color: #00262a;
  margin-bottom: 11.5px;
}

.btn__div {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn1 {
  border: 2px solid #fff;
  background: #003b33;
  color: #fff;
  font-weight: 700;
  font-size: 23px;
}

.btn1:hover {
  background: #b0e4dd;
  color: #003b33;
  border: 2px solid #003b33;
}

.go__back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5.6rem;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 3.2rem;
}

.text a {
  text-decoration: none;
  color: #00262a;
}

.password__resend {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #00262a;
}

.extra__btn__styles {
  padding: 0 8rem;
  margin: 3.5;
}
.extra__styles {
  margin-bottom: 1.6rem;
  margin-top: 6.5rem;
}

.resend__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
}

.resend__link a {
  text-decoration: none;
  color: #00262a;
}

.expirery_time {
  padding-top: 33.3px;
  font-family: 'Hind';
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #00262a;
  display: flex;
  align-self: flex-end;
  padding-right: 5rem;
}

.expirery_time span {
  color: #fc0808;
}

.additional {
  width: 352px;
  margin-bottom: 1.6rem;
}

.new__password {
  width: 358px;
  height: 38px;
  padding-bottom: 2.1rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
}

.success {
  width: 337px;
  color: #00262a;
}
