.container {
  margin-top: 71px;
  margin-bottom: 86px;
}

.container h1 {
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
  color: #00575f;
  margin-bottom: 42px;
}

.container p {
  font-weight: 400;
  font-size: 24px;
  line-height: 170.19%;
  color: #073b4c;
  margin-bottom: 52px;
}

.table__wrapper {
  overflow-x: auto;
}

.tables {
  background: #f1f1f1;
  border: 1px solid rgba(0, 38, 42, 0.35);
  border-radius: 7px;
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  overflow: hidden;
}

.tables th {
  padding: 28px 0;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  color: #00575f;
}

.tables td {
  text-align: center;
  padding: 28px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 170.19%;
  color: #073b4c;
}

.tables tr:not(:last-of-type),
.tables thead tr {
  border-bottom: 1px solid rgba(0, 38, 42, 0.12);
}
