.container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  box-sizing: border-box;
  width: 57.6%;
  padding: 8px 10px 4px;
  z-index: 1;
  top: 11vh;
  /* background-color: #fbfbfb; */
  background-color: #fff;
}
.interactions {
  display: flex;
  align-items: center;
}
.icons {
  cursor: pointer;
}
.icons:hover {
  color: #003b33;
}
@media screen and (max-width: 1000px) {
  .container {
    padding-right: 10px;
  }
}
