.container {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.switch {
  border: 0.533333px solid #b8b8b8;
}
