.container {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.actionButtons {
  display: flex;
  margin-top: 80px;
  align-items: center;
}
.rightButton {
  width: 100%;
  padding-left: 14px;
}
.leftButton {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .actionButtons {
    margin-top: 20vh;
    flex-direction: column;
  }
  .rightButton {
    padding-left: 0;
    margin-top: 15px;
  }
}
