.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px 0;
  font-weight: 500;
  font-size: 12px;
}
.genders {
  display: flex;
}
.genderItem {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .container {
    margin: 20px 0 30px;
  }
}
