.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #fdfdfd;
  padding: 25px 14px 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.logo {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.belowLogo {
  height: 90vh;
  overflow-y: scroll;
  padding-bottom: 10px;
}
.belowLogo::-webkit-scrollbar {
  display: none;
}
.belowLogo {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.rtText {
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  margin-top: 14px;
}
.btn__signin {
  background-color: #fff;
  color: #003b33;
}
.btn__signin:hover {
  background-color: #003b33;
  color: #fff;
}
@media screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}
