.member {
  padding: 30px;
  max-width: 220px;
  height: 300px;
  width: 100%;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -ms-flex-direction: column;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.member .image {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.member .image img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.top__illus {
  position: absolute;
  top: -10px;
  left: 0;
  transform: rotate(-7deg);
}

.bottom__illus {
  position: absolute;
  bottom: -10px;
  right: 0;
  transform: rotate(-187deg);
}

.body h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 39px;
  color: #00262a;
  text-align: center;
  margin: 12px 0;
  margin-top: 25px;
}
